<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
// $(document).ready(function(){
//     let a=($(document.getElementById('try')).width());
//     console.log(`${a}`);
//     document.getElementById('try1').style.width=`${a}`+`px`;
// });
</script>
</head>
<body>

<div id="try" style="height:100px;width:100px;padding:10px;margin:3px;border:1px solid blue;background-color:lightblue;"></div><br>
<div id="try1" style="height:100px;padding:10px;margin:3px;border:1px solid blue;background-color:lightblue;"></div><br>

<button>Display the inner width of div</button>
<p>innerWidth() - returns the inner width of an element (includes padding).</p>

</body>
</html>
